<div class="ficha">
    <div class="info">
      <img src={{Mproducto.images}} alt="Eyeshadow Palette">
      <div class="detalles">
        <h2>{{Mproducto.title}}</h2>
        <p><strong>Marca:</strong> {{Mproducto.brand}}</p>
        <p><strong>Categoría:</strong> {{Mproducto.category}}</p>
        <p><strong>Precio:</strong> {{Mproducto.price}}</p>
        <p><strong>Stock:</strong> {{Mproducto.stock}}</p>
        <p><strong>SKU:</strong> {{Mproducto.sku}}</p>
        <p><strong>Peso:</strong> {{Mproducto.weight}}</p>
        <p><strong>Estado:</strong> {{Mproducto.availabilityStatus}}</p>
        <p><strong>Garantía:</strong> {{Mproducto.warrantyInformation}}</p>
        <p><strong>Envío:</strong> {{Mproducto.shippingInformation}}</p>
        <p><strong>Política de devolución:</strong> {{Mproducto.returnPolicy}}</p>
        <p><strong>Pedido mínimo:</strong> {{Mproducto.minimumOrderQuantity}}</p>
        <p><strong>Tags:</strong> {{Mproducto.tags}}</p>
        <p><strong>Descripción:</strong> {{Mproducto.description}}</p>
      </div>
    </div>
</div>
  
