.tabla-centrada {
  margin: 0 auto;
}

.botonProducto {
  margin-top: 5px;
  padding: 0.6rem 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botonEdit {
  margin-left: 5px;
  padding: 10px;
  background-color: #00a2ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botonElimin {
  margin-left: 5px;
  padding: 10px;
  background-color: #5c010db2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}