.menu-container {
  background-color: #f5f5f5;
  padding: 10px;
  width: 100px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: #333;
}