  <div class="ficha">
    <img src="perfilAriel.jpg" alt="Foto de perfil">
    <p><strong>Nombre Completo:</strong> Ariel Jakubowski</p>
    <p><strong>Edad:</strong> 35 años</p>
    <p><strong>Ciudad:</strong> Rosario</p>
    <p><strong>Provincia:</strong> Santa Fe</p>
    <p><strong>País:</strong> Argentina</p>
    <p><strong>Estudios universitarios:</strong> Ingeniería en Sistemas Informaticos</p>
    <p><strong>Cursos:</strong> .Net, Javascript, Sql Server, CCNA</p>
    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/ariel-german-jakubowski-81b01a200/" target="_blank">www.linkedin.com/in/ariel-german-jakubowski-81b01a200/</a></p>
  </div>
